:root{
    --escuro: rgb(22, 21, 32);
    --detalhe: #f0f8ff36;
    --highlight: #2284847e;
    --logotipo:  #14e2e27e;
    --shadow: #14e2e27e;
    --botao: #177153;
    --light: #2ee0e0;
    --light-shadow:#e7e3e3;
    --cor-texto-principal: #faebd7;
    --fortyfour: #ffd700;
}

*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--escuro);
    color: var(--cor-texto-principal);
    margin:0%;
}

h1{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    color: var(--logotipo);
    font-size: 50px;
    font-weight: 50;
    line-height: 49px;
    display: inline;
}

nav{
    display: flex;
}

nav ul li{
    display: inline;
    margin: 10px;
}

header{
    display: inline;
}

.destaque{
    padding: 15px;
    margin: 15px;
    border: 4px outset var(--light-shadow);
    text-align: center;
}

h2{
    background-color: var(--highlight);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.botoesDestaque{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botao{
    background-color: var(--detalhe);
    text-align: center;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 1px 1px 15px var(--shadow);
}

.botao:hover{
    box-shadow: 2px 1px 20px var(--light-shadow);
}

.cexemplos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.cexemplos img{
    max-width: 150px;
}

.cdestaque:hover{
    zoom: 110%;
}

.cursos:hover{
    zoom: 110%;
}

section{
    margin: 10px;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    border: 2px solid;
    padding: 15px;
}

.card{
    display: block;
    width: 29%;
    border: 3px outset var(--highlight);
    margin: 12px;
    background-color: var(--light-shadow);
    color: black;
    font-size: smaller;
}

.card:hover{
    box-shadow: 4px 4px 6px var(--light);
}

.card div img{
    width: 100%;
}

.botaodark{
    background-color: #cbcecd;
    color: #073b53;
    border: 2px outset var(--light-shadow);
    padding: 2px;
    text-align: center;
}

.botaodark:hover{
    color: rgb(17, 7, 71);
}

.menu form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu form fieldset{
    margin: 5px;
    width: 100%;
}

.mcursos{
    display: table;
}

a{
    text-decoration: none;
    color: var(--cor-texto-principal);
}

li{
    list-style: none;
}

img{
    width: 95%;
}

.formulario{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
}

.form{
    margin: 15px 7px;
}

button{
    padding: 5px 20px;
    background-color: var(--botao);
    color: var(--escuro);
}

footer{
    margin-top: 20px;
    font-family: 'Silkscreen', cursive;
    color: var(--fortyfour);
    text-align: center;
    font-size: smaller;
    background-color: rgb(29, 28, 31);
    box-shadow: 1px 1px 7px 1px gray;
    margin: 50px 15px 0px 15px;
}

.twocol{
    display: flex;
}

.agenda ul{
    display: flex;
    flex-wrap: wrap;
}
.agenda ul li{
    width: 29%;
    margin: 10px;
}

.agenda p{
    text-align: justify;
}

.evdestaque{
    width: 20%;
}

.agenda{
    width: 70%;
}

.eventos{
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    .twocol{
        display: block;
    }

    .row{
        display: block;
    }
    .card{
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    
}