:root{
    --principal: #94bf73;
    --escuro:#526a40;
    --fundodois: #d9d0b4ab;
    --fundodoisb: #e3ddca;
}

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    color: black;
}

nav{
    background-color: var(--fundodoisb);
    border: 2px solid #94bf73;
    justify-content: space-between;
    align-items: baseline;
}

nav, .barrrasup, .barrainf{
    display: flex;
}

.menu{
    display: flex;
    align-items: baseline;
}

.logo{
    width: 30%;
}

.pesquisar{
    width: fit-content;
    padding: 5px;
}

.barrainf{
    align-items: center;
}

.barrainf li{
    border: 3px outset var(--escuro);
    height: 40px;
    padding: 2px;
}

li{
    margin: 5px;
    text-align: center;
}

body{
    background-color: var(--principal);
}

main{
    margin: 15px;
    padding: 10px;
    background-color: var(--fundodois);
}

section{
    margin: 10px;
}

.ind_linha{
    display: flex;
}